@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    width: 100%;
}

nav {
    flex: 1;
    height: 130px;
    line-height: 75px;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}


nav ul li  a:hover {
    color: orange;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

body{
    display: flex;

    align-items: center;
    height: 100vh;
    flex-direction: column;
}