@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    width: 100%;
}

nav {
    flex: 1;
    height: 130px;
    line-height: 75px;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}


nav ul li  a:hover {
    color: orange;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.profil{
    margin-top: 100px;
    text-align: center;
}

.profil form{
    margin-bottom: 80px;
}

.profil input{
    color: white;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin-bottom: 10px;
}

.submit-btn {
    color: white;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #e35a5a, #000000, #e35a5a);
    border: 0;
    outline: none;
    border-radius: 30px;
}